body {
    --color-brand-content: #f15a24;
    font-family: -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0;
}

header {
    background-color: #f4f4f4;
    height: 69px;
    line-height: 68px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header h1 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-width: 960px;
    margin: auto;
    font-size: 28px;
    line-height: 68px;
    color: #4D4948;
    font-weight: normal;
}

h1 img {
    height: 30px;
    margin-right: 10px;
}

main {
    padding: 10px 30px;
    max-width: 940px;
    margin: 0 auto;
    box-shadow: 0 0 4px #ccc;
    background: #fff;
    margin-top: 80px;
}

main > section:first-child {
    margin-top: -90px;
}

h2 {
    margin-top: 3rem;
    font-size: 26px;
    font-weight: bold;
}

span + h2 {
    padding-top: 90px;
    margin-top: -60px;
}

main section:first-child h2 {
    margin-top: 1rem;
}

a {
    color: var(--color-brand-content);
}

ul, ol {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 1.2rem;
}

ol li>p:first-child, ul li>p:first-child {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

li>ol, li>ul {
    margin-bottom: 0;
    margin-top: 0;
}
